// FONT STACK
$font-url-google: 'https://fonts.googleapis.com/css?family=Coiny';
$font-url-google-two: 'https://fonts.googleapis.com/css?family=Roboto:400,700';
$font-primary: 'Coiny', cursive;
$font-secondary: 'Roboto', sans-serif;

// FONT WEIGHTS
$font-regular: 400;
$font-bold: 700;

// DESCRIPTIVE COLORS
$white: #fff;
$blue: #528B8B;

// FUNCTIONAL COLORS
$spectra: #2c4b4b;
$bermuda: #7fd7d7;
