/* ========   Default Styles ======== */

@import "../config.scss";
@import url($font-url-google);
@import url($font-url-google-two);


* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: $blue;
}

h1, h3 {
  text-align: center;
  color: $white;
}

h1 {
  font-family: $font-primary;
  text-shadow: 6px 6px $color-shadow;
}

h3 {
  font-size: 1.5em;
  font-family: $font-secondary;
}

p {
  font-family: $font-secondary;
}

li {
  list-style: none;
}

img {
  margin-top: 25px;
  max-width: 80%;
}
