.playerOptions {
  padding-left: 0;
  display: flex;
  justify-content: center;

  &__option {
    margin: 2%;
    padding: 24px;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    border: 2px solid $spectra;
    border-radius: 50%;
    box-shadow: 2px 2px $spectra;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s, background .5s, border-color .5s;
  }

  &__option:hover {
    cursor: pointer;
    background: $bermuda;
    border-color: $bermuda;
    transform: translateY(2px);
  }
}
